$sm: 40rem; // 640px
$md: 48rem; // 768px
$lg: 64rem; // 1024px
$xl: 80rem; // 1280px
$xxl: 96rem; // 1536px

$primaryColor: #2C2C2C;
$primaryLightColor: #343434;
$secondaryColor: #A8DADC;
$tertiaryColor: #FFC1CC;
$accentColor: #B39CD0;
$lightColor: #E4E4E4;


$textColorPrimary: #E4E4E4;
//$textColorPrimary: #FAFAFA;
$textColorSecondary: #E0E0E0;
$textColorTertiary: #c8c8c8;
$textColorDark: $primaryColor;

$borderColor: rgba(255, 255, 255, 0.15);

$fontFamily: "Inter", sans-serif;
$fontFamilySecondary: "Sansation", sans-serif;
